- name: Deploy
  run: |
    git config --global user.email "actions@github.com"
    git config --global user.name "github-actions[bot]"
    git remote set-url origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}
    git add .
    git commit -m "Deploy"
    git push origin main
  env:
    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}